body{
	margin:0;
	padding:0;
}
.container{
	max-width:1200px;
}
.jumbotron{
	background-image:url(banner.jpg);
	background-size:cover;
	text-align:center;
	color:white;
	height:300px;
}
.jumbotron h2{
	line-height: 4.5;
	font-size:40px;
	font-weight: bold;
	font-family: "cursive";
}
ul li{
	padding:10px;
}
.nav{
	background:#F6F4FF;
	border-radius: 5px;
	margin-bottom:2px;
}
.scrapedData-container{
	text-align:left;

}
.content{
	border:1px solid white;
	width:100%
	margin-bottom:10px;
}
.scrap-title{
	height:50px;
	background:#849FFF;
	color:white;
	font-size:20px;
	font-weight: bold;
	padding-left:5px;
}
.scrap-link{
	height:30px;
	font-size:15px;
	margin:5px 0 5px 0;
	padding-left:5px;

}
.savebtn, .notebtn{
	float:right;
	height:40px;
	margin:5px 5px 5px 0;

}
.nav-link{
	color:white !important;
}